<!DOCTYPE html>
<html ng-app="myModule" ng-cloak>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS - Google Maps</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Angular Material CSS -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<!-- Slick Carousel CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
	<!-- Slick Carousel -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.7/angular-slick.js"></script>
	<!-- Moment.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>
<body ng-controller="mapsController">
	<header class="container-fluid">
		<image-header></image-header>
	</header>
	<main class="container">
		<div class="row">
			<div class="col-md-6">
				<form novalidate>
					<div class="name-input-field">
						<label class="required">First Name
							<md-tooltip md-direction="top">
								Add your first name here
							</md-tooltip>
						</label>
						<input type="text" name="name" class="gen-form capitalize" ng-class="{'form-error': form.firstName.error}" placeholder=" " ng-model="form.firstName.value" required/>
						<p ng-if="form.firstName.error" class="form-error text" ng-bind="form.firstName.error"></p>

						<label class="required">Last Name
							<md-tooltip md-direction="top">
								Add your last name here
							</md-tooltip>
						</label>
						<input type="text" name="name" class="gen-form capitalize" ng-class="{'form-error': form.lastName.error}" placeholder=" " ng-model="form.lastName.value" required/>
						<p ng-if="form.lastName.error" class="form-error text" ng-bind="form.lastName.error"></p>
					</div>

					<label class="required">Address - Line 1
						<md-tooltip md-direction="top">
							Add the first line of the address of the item location
						</md-tooltip>
					</label>
					<input type="text" name="name" class="gen-form" ng-class="{'form-error': form.address1.error}" placeholder=" " ng-model="form.address1.value" details="chosenPlaceDetails" googleplace />
					<p ng-if="form.address1.error" class="form-error text" ng-bind="form.address1.error"></p>

					<label>Address - Line 2
						<md-tooltip md-direction="top">
							Add the second line of the address of the item location
						</md-tooltip>
					</label>
					<input type="text" name="name" class="gen-form" ng-class="{'form-error': form.address2.error}" placeholder=" " ng-model="form.address2.value" />
					<p ng-if="form.address2.error" class="form-error text" ng-bind="form.address2.error"></p>

					<label class="required"> Country
						<md-tooltip md-direction="top">
							Add the country of the address of the item location
						</md-tooltip>
					</label>
					<input type="text" name="name" class="gen-form" ng-class="{'form-error': form.country.error}" placeholder=" " ng-model="form.country.value"/>
					<p ng-if="form.country.error" class="form-error text" ng-bind="form.country.error"></p>

					<label class="required"> City
						<md-tooltip md-direction="top">
							Add the city of the address of the item location
						</md-tooltip>
					</label>
					<input type="text" name="name" class="gen-form" ng-class="{'form-error': form.city.error}" placeholder=" " ng-model="form.city.value"/>
					<p ng-if="form.city.error" class="form-error text" ng-bind="form.city.error"></p>

					<label class="required">Postcode
						<md-tooltip md-direction="top">
							Add the postcode of the address of the item location
						</md-tooltip>
					</label>
					<input type="text" name="name" class="gen-form" ng-class="{'form-error': form.postcode.error}" placeholder=" " ng-model="form.postcode.value" details="chosenPlaceDetails" googleplace/>
					<p ng-if="form.postcode.error" class="form-error text" ng-bind="form.postcode.error"></p>

					<div class="row">
						<div class="col-xs-12 col-no-padding-right" ng-if="!requestSubmitted">
							<button type="submit" class="btn" ng-click="addItem()">
								<span>Submit</span>
							</button>
						</div>
					</div>
					<div class="row">
						<!-- <p ng-if="submitError" class="form-error text" ng-bind="errorMessage"></p> -->
						<div class="col-xs-12 text-center" ng-if="submitActivationError">
							<p class="text-center"> Failed to add the item.</p>
						</div>

						<div class="col-xs-12 text-center" ng-if="requestSubmitted">
							<p class="text-center"> Thank you for adding a new item; please, reload the page to see the item on the map.</p>
						</div>
					</div>
				</form>
			</div>
			<aside class="col-md-6">
				<div class="map-container">
					<div id="map"></div>
				</div>
			</aside>
		</div>
	</main>
	<!-- Popup template -->
	<script type="text/ng-template" id="dialogPopup.html">
		<md-dialog aria-label="Confirm Form">
			<form>
				<md-dialog-content>
					<div class="md-dialog-content">
						<table class="table table-bordered table-striped">
							<caption>Please check and make sure that these details are correct</caption>
							<tbody>
								<tr>
									<td><p>First Name:</p></td>
									<td><p><strong>{{firstName}}</strong></p></td>
								</tr>
								<tr>
									<td><p>Last Name:</p></td>
									<td><p><strong>{{lastName}}</strong></p></td>
								</tr>
								<tr>
									<td><p>Address Line 1:</p></td>
									<td><p><strong>{{address1}}</strong></p></td>
								</tr>
								<tr>
									<td><p>Address Line 2:</p></td>
									<td><p><strong>{{address2}}</strong></p></td>
								</tr>
								<tr>
									<td><p>Country:</p></td>
									<td><p><strong>{{country}}</strong></p></td>
								</tr>
								<tr>
									<td><p>City:</p></td>
									<td><p><strong>{{city}}</strong></p></td>
								</tr>
								<tr>
									<td><p>Postcode:</p></td>
									<td><p><strong>{{postcode}}</strong></p></td>
								</tr>
							</tbody>
						</table>
					</div>
				</md-dialog-content>

				<md-dialog-actions class="booking-footer">
					<button type="cancel" class="md-button cancel large-text" ng-click="cancel()" >
						<span> Back </span>
					</button>
					<span flex></span>
					<button type="submit" class="md-button confirm large-text" ng-click="submit()">
						<span> Confirm </span>
					</button>
				</md-dialog-actions>
			</form>
		</md-dialog>
	</script>
	<!-- Script -->
	<script src="mapsController.js"></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmnk4-s1s9kxwimuu7m7uMRlnDG7ERIc8&libraries=places'></script>
</body>
</html>
