input.capitalize {
	text-transform: capitalize;
}

.required:after {
	content: '*';
}

.name-input-field {
	background-color: #436d7d;
	padding: 5px 10px 20px 10px;
	margin-top: 10px;
	border-radius: 4px;
}

.name-input-field input {
	width: 100%;
}

.name-input-field label {
	color: white;
}

input.gen-form, textarea.gen-form, md-input-container.gen-form, md-datepicker.gen-form {
	border: 1px solid rgba(97, 97, 97, 0.24);
	width: 100%;
	height: 40px;
	padding: 10px;
	transition: .2s all ease;
	font-weight: bold;
}

md-input-container.gen-form {
	margin: 0;
	padding: 5px;
	background-color: white;
}

/*textarea.gen-form {
	height: 100px;
}*/

input.gen-form:focus, textarea.gen-form:focus {
	border: 1px solid #436d7d;
}

form label {
	color: grey;
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 10px;
}

.form-error.text {
  border: none;
  color: #ffffff;
  background: #ca786a;
  padding: 3px;
  width: 100%;
  margin-top: -5px;
  font-size: 11px;
}

.map-container {
  height: 450px;
}

#map {
    width: 100%;
    height: 100%;
}
